#TITULOTAB1{
    align-items: center;
    text-align: center;
    font-size: x-large;
    padding-bottom: 5px;

}

#botao-retornar{
    padding-top: 5%;
    text-align: right;
}

.TelasInternas{
    background-image: url(madeira-maneira.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ionItem {
    --background: #156064;
    border: 1px solid black;
    border-bottom: 2px solid #323232;
    padding: 0.5px;
    font-size: 1rem;
    margin-bottom: 10px;
}



