#botoestab3{
    padding-left:5%;
    padding-right:5%;
    padding-top: 12.5%;
    text-align: center;
    justify-content: center;
}

#TITULOTAB3{
    align-items: center;
    text-align: center;
    font-size: x-large;
    padding-bottom: 5px;
    padding-top: 20px;
}